* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #F2F2F2;
}

body {
  overflow-x: hidden;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .row {
  width: 40%;
  margin-right: 80px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
}

.wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 60px;
  margin-bottom: 50px;
}

button {
  display: inline-block;
  border: none;
  padding: 10px 24px;
  margin-right: 10px;
  text-decoration: none;
  background: transparent;
  color: #49596F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
}

button:hover {
  background: #49596F;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
  background: #C6575F;
  color: #F2F2F2;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.primary-btn:focus {
  margin-left: 24px;
}

.primary-btn:hover {
  margin-left: 24px;
}

.btn {
  margin-top: 80px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: #49596F;
  padding-left: 24px;
}

.hey {
  font-size: 92px;
  font-weight: 300;
  letter-spacing: -5px;
  color: #49596F;
  padding-left: 24px;
}

.me {
  font-size: 48px;
  font-weight: 300;
  color: #49596F;
  padding-left: 24px;
  margin-bottom: 20px;
}

.me span {
  font-weight: 700;
  color: #C6575F;
}

.txt-type {
  color: #C6575F;
}

.social {
  position: absolute;
  bottom: 40px;
  padding-left: 18px;
}

.social-media {
  fill: #354050;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.social-media:hover {
  fill: #C6575F;
}

.bar {
  width: 50%;
  margin-left: 24px;
  margin-top: 60px;
}

.bar p {
  font-size: 14;
  color: #49596F;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #C6575F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C6575F;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #C6575F;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-ms-fill-upper {
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #C6575F;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #C6575F;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}

input[type=range]:focus::-ms-fill-upper {
  background: #C6575F;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */