* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #F2F2F2;
}

body {
  overflow-x: hidden;
  background: url("../img/bg.svg");
  background-size: 12px;
}

#bg {
  width: 100%;
  height: 100%;
  background: url("../img/bg.svg");
  background-size: 12px;
  position: fixed;
  z-index: -10;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.container .row {
  width: 30%;
  margin-right: 80px;
}

.container .side {
  width: 15%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  z-index: 2;
}

.wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 60px;
  margin-bottom: 50px;
}

button {
  display: inline-block;
  border: none;
  padding: 10px 24px;
  margin-right: 10px;
  text-decoration: none;
  background: transparent;
  color: #49596F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
}

button:hover {
  background: #49596F;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
  background: #C6575F;
  color: #F2F2F2;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.primary-btn:focus {
  margin-left: 24px;
}

.primary-btn:hover {
  margin-left: 24px;
}

.btn {
  margin-top: 80px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: #49596F;
  padding-left: 24px;
}

.hey {
  font-size: 72px;
  font-weight: 700;
  color: #49596F;
  padding-left: 24px;
}

.me {
  font-size: 48px;
  font-weight: 300;
  color: #49596F;
  padding-left: 24px;
  margin-bottom: 20px;
}

.me span {
  font-weight: 700;
  color: #C6575F;
}

.txt-type {
  color: #C6575F;
}

.social {
  position: absolute;
  bottom: 20px;
  padding-left: 18px;
}

.social-media {
  fill: #49596F;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.social-media:hover {
  fill: #C6575F;
}

.naqsh {
  padding-left: 27px;
  position: absolute;
  top: 20px;
}

.logo {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  fill: #49596F;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.logo:hover {
  fill: #C6575F;
}

.bar {
  width: 50%;
  margin-left: 24px;
  margin-top: 60px;
}

.bar p {
  font-size: 14;
  color: #49596F;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #C6575F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C6575F;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #C6575F;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-ms-fill-upper {
  background: #49596F;
  border-radius: 5px;
}

input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #C6575F;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #C6575F;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}

input[type=range]:focus::-ms-fill-upper {
  background: #C6575F;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}

.shape {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.bg-color {
  fill: #354050;
}

.star-line {
  fill: none;
  fill-rule: nonzero;
  stroke: rgba(159, 166, 178, 0.4);
  stroke-width: 0.75px;
}

#star path:nth-child(1) {
  stroke-dasharray: 2147.66357421875px;
  stroke-dashoffset: 2147.66357421875px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(2) {
  stroke-dasharray: 743.9212036132812px;
  stroke-dashoffset: 743.9212036132812px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(3) {
  stroke-dasharray: 745.0426025390625px;
  stroke-dashoffset: 745.0426025390625px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(4) {
  stroke-dasharray: 2147.613525390625px;
  stroke-dashoffset: 2147.613525390625px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(5) {
  stroke-dasharray: 1708.9049072265625px;
  stroke-dashoffset: 1708.9049072265625px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(6) {
  stroke-dasharray: 3417.10986328125px;
  stroke-dashoffset: 3417.10986328125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(7) {
  stroke-dasharray: 2147.667236328125px;
  stroke-dashoffset: 2147.667236328125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(8) {
  stroke-dasharray: 743.9239501953125px;
  stroke-dashoffset: 743.9239501953125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(9) {
  stroke-dasharray: 482.1429443359375px;
  stroke-dashoffset: 482.1429443359375px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(10) {
  stroke-dasharray: 964.0528564453125px;
  stroke-dashoffset: 964.0528564453125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(11) {
  stroke-dasharray: 745.0399169921875px;
  stroke-dashoffset: 745.0399169921875px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(12) {
  stroke-dasharray: 2147.61181640625px;
  stroke-dashoffset: 2147.61181640625px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(13) {
  stroke-dasharray: 482.0731201171875px;
  stroke-dashoffset: 482.0731201171875px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(14) {
  stroke-dasharray: 964.09033203125px;
  stroke-dashoffset: 964.09033203125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(15) {
  stroke-dasharray: 3417.02197265625px;
  stroke-dashoffset: 3417.02197265625px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(16) {
  stroke-dasharray: 1708.5306396484375px;
  stroke-dashoffset: 1708.5306396484375px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(17) {
  stroke-dasharray: 2147.6669921875px;
  stroke-dashoffset: 2147.6669921875px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(18) {
  stroke-dasharray: 743.9239501953125px;
  stroke-dashoffset: 743.9239501953125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(19) {
  stroke-dasharray: 964.0546875px;
  stroke-dashoffset: 964.0546875px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(20) {
  stroke-dasharray: 481.9801940917969px;
  stroke-dashoffset: 481.9801940917969px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(21) {
  stroke-dasharray: 745.0435791015625px;
  stroke-dashoffset: 745.0435791015625px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(22) {
  stroke-dasharray: 2147.608154296875px;
  stroke-dashoffset: 2147.608154296875px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(23) {
  stroke-dasharray: 964.0897827148438px;
  stroke-dashoffset: 964.0897827148438px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

#star path:nth-child(24) {
  stroke-dasharray: 482.26739501953125px;
  stroke-dashoffset: 482.26739501953125px;
  -webkit-animation: star 6s ease-in-out 1s infinite alternate;
          animation: star 6s ease-in-out 1s infinite alternate;
}

@-webkit-keyframes star {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes star {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 450px) {
  .wrapper .controls {
    margin-left: 10px;
  }
  .wrapper .controls .social {
    position: absolute;
    top: 80px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 850px) {
  .wrapper {
    position: static;
  }
  .wrapper .controls {
    width: 100%;
  }
  .wrapper .controls .social {
    position: absolute;
    top: 25px;
    right: 30px;
    padding-left: 0;
  }
  .wrapper .controls .social .social-media {
    margin-bottom: 10px;
  }
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60vh;
  }
  .container .side {
    width: 30%;
  }
  .container .row {
    width: 60%;
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .me {
    font-size: 18px;
  }
  .hey {
    font-size: 24px;
  }
  h1 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */